Builds/*/build
Builds/MacOSX/sendmidi.xcodeproj/xcuserdata
Builds/MacOSX/sendmidi.xcodeproj/project.xcworkspace/xcuserdata
/.vs
/Builds/VisualStudio2022/.vs
/Builds/VisualStudio2022/x64
/Builds/VisualStudio2022/sendmidi_ConsoleApp.vcxproj.user
Installers
Tests/Builds/*/build
Tests/Builds/VisualStudio2022/.vs
Tests/Builds/VisualStudio2022/x64
Tests/Builds/MacOSX/SendMIDITests.xcodeproj/xcuserdata
Tests/Builds/MacOSX/SendMIDITests.xcodeproj/project.xcworkspace/xcuserdata
/e2e/
/guest-output
/guest-status
