Builds/*/build
Builds/MacOSX/sendmidi.xcodeproj/xcuserdata
Builds/MacOSX/sendmidi.xcodeproj/project.xcworkspace/xcuserdata
/Builds/VisualStudio2015/Release
/Builds/VisualStudio2015/sendmidi.VC.db
/Builds/VisualStudio2015/sendmidi.VC.VC.opendb
/Builds/VisualStudio2017
/.vs
