Builds/*/build
Builds/MacOSX/sendmidi.xcodeproj/xcuserdata
Builds/MacOSX/sendmidi.xcodeproj/project.xcworkspace/xcuserdata
/.vs
/Builds/VisualStudio2017/.vs
/Builds/VisualStudio2017/x64
/Builds/VisualStudio2017/sendmidi_ConsoleApp.vcxproj.user
